<%- include('partials/header') %>


    <div class="main-container">
        <div class="main-subcontainer">
            <div class="main-welcome">
                <div class="main-greeting">
                    <h3>Good Morning [User]</h3>
                    <p></p>
                </div>
                <div class="main-feature"></div>
            </div>
            <div class="logo"></div>
        </div>
        <div class="main-content">
            <h4>Your Subscription</h4>
            <div>
                <h5>Subscription Preference</h5>
                <div></div>
            </div>
            <div>
                <h5>Pick Your Coffee in the next coming week:</h5>
                <div></div>
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>