<%- include('partials/header') %>


    <div class="home">
        <div class="home-photo">
            <img class="photo" src="/images/cover.png" alt="cover image" />
        </div>
        <div class="home-login">
            <div class="login-container">
                <img class="logo" src="/images/logo.png" alt="company logo" />
                <div class="form-container">
                    <h3 class="form-title">Welcome back sippers!</h3>

                    <form action="/" method="POST" class="form-main">
                        <div class="login-form">
                            <input type="username" class="forminput" name="username" placeholder="Username">
                        </div>
                        <div class="login-form">
                            <input type="password" class="forminput" name="password" placeholder="Password">
                        </div>
                        <% if(typeof errorMessage !=='undefined' ) { %>
                            <div class="error-message">
                                <%= errorMessage %>
                            </div>
                            <% } %>
                                <% if(typeof successMessage !=='undefined' ) { %>
                                    <div class="success-message">
                                        <%= successMessage %>
                                    </div>
                                    <% } %>
                                        <div class="login-button">
                                            <button type="submit" class="submitbtn">Login</button>
                                            <a href="/register" class="regbtn">Register Now</a>
                                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>