<%- include('partials/header') %>


    <div class="home">
        <div class="home-photo">
            <img class="photo" src="/images/cover.png" alt="cover image" />
        </div>
        <div class="home-login">
            <div class="login-container">
                <img class="logo" src="/images/logo.png" alt="company logo" />
                <div class="form-container">
                    <h3 class="form-title">Join us now<br>and get a reward!</h3>
                    <form action="/register" method="POST" class="form-main">
                        <div class="login-form">
                            <input type="email" class="forminput" name="email" placeholder="Email">
                        </div>
                        <div class="login-form">
                            <input type="username" class="forminput" name="username" placeholder="Username">
                        </div>
                        <div class="login-form">
                            <input type="password" class="forminput" name="password" placeholder="Password">
                        </div>
                        <% if(typeof errorMessage !=='undefined' ) { %>
                            <div class="error-message">
                                <%= errorMessage %>
                            </div>
                            <% } %>
                                <div class="login-button">
                                    <button type="submit" class="submitbtn regisblue">Register</button>
                                    <a href="/" class="regbtn">Already A Sipper?</a>
                                </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>