* {
    box-sizing: border-box;
    font-family: "Montserrat";
}

html {
    background-color: #FAFAFA;
    height: 100vh;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: 100%;
}

main {
    display: flex;
    flex-grow: 1;
}

.home {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.photo {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0 20px 20px 0;
}

.home-photo {
    height: 100%;
    flex-grow: 1;
    overflow: hidden;
}

.home-login {
    min-width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 8rem;
}

.logo {
    width: 10rem;
    margin-bottom: 4rem;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: grey; */
    width: 100%;
    margin-bottom: 1.5rem;
}

h3 {
    font-size: 1.5em;
}

.form-title {
    text-align: center;
    margin-bottom: 3rem;
}

.form-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.login-form {
    width: 100%;
}

.login-button {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 2rem;
}

.forminput {
    width: 100%;
    height: 3rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    padding: 1rem;
    font-size: 1em;
}

.forminput:focus {
    outline: none;
}

.error-message {
    color: red;
    font-size: 10pt;
    font-weight: 600;
}

.success-message {
    color: #73AC92;
    font-size: 10pt;
    font-weight: 600;
}

.submitbtn,
.regbtn {
    width: 100%;
    height: 3rem;
    border-radius: 6px;
    border: none;
    font-size: 1em;
    font-weight: 600;
    color: white;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s all;
}

.submitbtn {
    background-color: #73AC92;
}

.regbtn {
    background-color: #969696
}

.regisblue {
    background-color: #3EA1DB;
}

/* Main */

.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 5rem;
}

.main-subcontainer {
    width: 100%;
    background-color: white;
    border-radius: 15pt;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.main-welcome {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 1rem;
}

.username {
    color: #429488;
    text-transform: uppercase;
}

.main-greeting>p {
    color: #747474;
    font-weight: 500;
    margin-bottom: 3rem;
}

.mainbtn {
    text-decoration: none;
    font-weight: 600;
}

.mainbtn:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
}

.chnpassword {
    color: #73AC92;
}

.logout {
    color: #545454;
}

.main-feature {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.main-logo-container {
    padding: 2rem;
    width: 40%;
}

.main-logo {
    width: 100%;
}

.main-content {
    width: 100%;
}

.subscribe-section {
    width: 100%;
    margin-bottom: 3rem;
}

.subscribe-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.sub-option {
    min-height: 12rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 2rem 2rem;
    position: relative;
    cursor: pointer;
    transition: 0.2s all;
}

.sub-selected {
    outline: 8px solid #429488;
}

.sub-icon {
    margin-bottom: 2rem;
}

.tick {
    position: absolute;
    right: 2rem;
    top: 2rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-tick {
    position: absolute;
}

.sub-title {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 1rem;
}

.user-option,
.user-option-coffee,
.coffeecheckbox {
    display: none;
}

.coffee-section {
    margin-bottom: 2rem;
}

.coffee-section-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.coffee-section-row>h5 {
    margin: 0;
}

.coffee-option {
    --repeat: auto-fit;
}

@media (min-width: calc(250px * 6)) {
    .coffee-option {
        --repeat: 6;
    }
}

.coffee-option {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(var(--repeat, auto-fit), minmax(150px, 1fr));
    gap: 2rem;
    margin-bottom: 2rem;
}

.coffee {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: 0.2s all;
}

.coffee-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.savebtn {
    width: 100%;
    height: 3rem;
    border-radius: 6px;
    border: none;
    font-size: 1em;
    font-weight: 600;
    color: white;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3EA1DB;
}

.update-message {
    position: fixed;
    top: 0;
    width: 100%;
    height: 3rem;
    font-weight: 600;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(50, 50, 50, 0.6);
    backdrop-filter: blur(5px);
}

.update-message {
    -webkit-animation: seconds 1.0s forwards;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-delay: 3s;
    animation: seconds 1.0s forwards;
    animation-iteration-count: 1;
    animation-delay: 3s;

}

@-webkit-keyframes seconds {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        position: absolute;
    }
}

@keyframes seconds {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        position: absolute;
    }
}

h3 {
    margin: 0;
}

h4 {
    font-size: 2em;
}

h5 {
    font-size: 1.2em;
    font-weight: 400;
}

.sub-option:active,
.coffee:active,
.submitbtn:active,
.regbtn:active {
    transform: scale(0.98);
}

.datePeriod {
    color: #429488;
    font-weight: 600;
}


/* Change Password Page */

.edit-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.edit-title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 36px;
}

.edit-form {
    display: flex;
    flex-direction: column;
    gap: 30px; 
}

.edit-form .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; 
}

.edit-form label {
    font-weight: bold;
    margin-bottom: 10px; 
}

.edit-form input[type="password"] {
    width: 100%; 
    padding: 12px; 
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.edit-form .btn-primary {
    background-color: #73AC92; 
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.edit-form .btn-secondary {
    background-color: #545454; 
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.alert{
    font-size: 20px;
}

.alert-danger{
    color: #C44536;
}

.alert-success{
    color: #2E7468;
}

.form-group-new{
    color: #2E7468;
}

.form-group-old{
    color: #C44536;
}